<div style="margin-top: 10px; margin-bottom: 20px" class="ui stackable grid container">

  <div class="sixteen wide column no-bottom">
    <h2 class="ui center aligned header no-bottom">{{ site.data.bio.basics.name }}</h2>
    <p style="text-align: center">Abbreviated Resume (complete Resume is <a href="https://docs.google.com/document/d/1c_XKfuC9b2qNxjggVBO60vWexGmVeznH/" target="_blank">here</a>)</p>
  </div>

   <div class="eight wide left aligned column">
    {% include bio-network-links.html %}
   </div>


  {% include bio-skills-1.html %}
  {% include bio-education-1.html %}
  {% include bio-certifications-1.html %}
  {% include bio-work-1.html %}
  {% include bio-projects-1.html %}
  {% include bio-awards-1.html %}
  {% include bio-references-1.html %}

  <div class="sixteen wide column no-bottom">
    <hr>
    <p style="text-align: center">Complete Resume for Jason Wu is <a href="https://docs.google.com/document/d/1c_XKfuC9b2qNxjggVBO60vWexGmVeznH/" target="_blank">here</a></p>
  </div>

</div>


