<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embedded Iframe</title>
</head>
<body>

<!-- Replace 'your_iframe_source_url' with the actual URL of your iframe content -->
<iframe src="https://docs.google.com/document/d/e/2PACX-1vSH6Wj5jGoPuxhqsnyVXvEzVMCZ8L688EANd4Doo8FZvPpsoxTNdJVZ9pBbLjetAw/pub?embedded=true" width="600" height="400" frameborder="0" allowfullscreen></iframe>

</body>
</html>
 
